<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.komunitas">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:usesCleartextTraffic="true"
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_project"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_project"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Komunitas">
        <activity
            android:name=".ui.detection.camera_detection.DetectionObjectActivity">

        </activity>
        <activity android:name=".ui.detection.camera_detection.CameraActivity" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.chat.ChatNoVideoActivity" />
        <activity android:name=".ui.chat.ChatWithVideoActivity" />
        <activity android:name=".ui.home.HomeActivity"  />
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.auth.DaftarActivity" />
        <activity android:name=".ui.onboarding.OnboardingActivity" />
        <activity android:name=".engines.MediaPipeActivity" />
        <activity
            android:name=".ui.splash.SplashscreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>